.active {
  background: linear-gradient(90deg, #ff8a05, #f9b331);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link {
  text-decoration: none;
  color: rgb(243, 233, 231);
  padding: 0.5rem 1rem;
}

.link:hover,
.link:hover {
  color: rgb(252, 228, 70);
  text-shadow: 0 0 18px rgba(248, 190, 42, 0.8);
}
